{% extends "index.html" %}

{% block content %}
    <div class="container pt-3"><h2>Welcome to Cloud Based Speech Translator-Generator</h2>

        <h4>This site provides useful features such as:</h4>
        <div class="d-flex justify-content-center">
            <br>
            <div>
                <ul>
                    <li>Synthesizing speech form text</li>
                    <li>Transcribing speech from audio files</li>
                    <li>Translation</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}


