<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CBSTG</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
<body>
{% include "nav.html" %}
{% if not request.user.is_authenticated and request.get_full_path == "/" %}
    <div class="container py-5">
        <div class="py-2 h5">Log in to use the site!</div>
        <div class="d-flex justify-content-center">
            <a role="button" href="{% url 'login_view' %}" class="btn btn-outline-primary">Log in</a>
        </div>
        <div class="py-2 h5">No account yet? Register!</div>
        <div class="d-flex justify-content-center">
            <a role="button" href="{% url 'register_view' %}" class="btn btn-outline-primary">Register</a>
        </div>
    </div>
{% endif %}
{% block content %}

{% endblock %}

<footer>
    <div class="footer-copyright text-center py-3">© 2025 Copyright:
        Jędrzej Sokołowski, Agata Osmałek, Zosia Sasimowska
    </div>
</footer>
</body>
</html>


