{% extends "index.html" %}
{% block content %}
    <div class="container pt-3">
        <h2>Speech Synthesis Result</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        {% if audio_data %}

            <audio controls>
                <source src="data:audio/mp3;base64,{{ audio_data }}" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>

            <form method="POST" action="{% url 'save_synthesized_audio' %}">
                {% csrf_token %}
                <input type="hidden" name="file_id" value="{{ file_id }}">
                <input type="hidden" name="audio_data" value="{{ audio_data }}">
                <div class="input-group mt-3">
                    <input type="text" name="filename" class="form-control" placeholder="Enter name for audio file"
                           required>
                    <button type="submit" class="btn btn-outline-success">Save</button>
                </div>
            </form>

            <!-- Buttons for additional actions -->
            <div class="d-flex justify-content-center">
                <a href="{% url 'notes_view' %}" class="btn btn-outline-secondary m-2">Back to Notes</a>
            </div>
        {% else %}
            {% if not error %}
                <p>No transcription available.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
