{% extends "index.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load custom_tags %}
    <div class="container pt-3"><h2>Your Text-To-Speech conversions</h2>
        {% if texts_queryset %}
            <table class="table">
            <tr>
                <th>No.</th>
                <th>Creation date</th>
                <th>Filename</th>
                <th>Download input</th>
                <th>Download result</th>
                <th></th>
            </tr>

            {% for text in texts_queryset %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ text.creation_date }}</td>
                    <td> {{ text.file.name|basename }}</td>
                    <td> <a role="button" href="{% url 'download_submitted_text' text.pk %}" class="btn btn-outline-primary">Download original</a></td>
                    <td> <a role="button" href="{% url 'download_submitted_text' text.pk %}" class="btn btn-outline-primary">Download result</a></td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <h4>Looks like you don't have any translations yet.</h4>
        {% endif %}

        <div class="d-flex justify-content-center">
            <a role="button" href="{% url 'create_new_speech_from_text' %}" class="btn btn-outline-primary">Submit new file</a>
        </div>
    </div>

{% endblock %}


