DATABASE_URL="postgres://${db_user}:${db_password}@//cloudsql/${db_instance_project}:${db_instance_region}:${db_instance_name}/${db_name}"
STATICFILES_BUCKET_NAME="${staticfiles_bucket}"
MEDIAFILES_BUCKET_NAME="${mediafiles_bucket}"
SECRET_KEY="${secret_key}"
DEBUG=on